@use 'font';
@use 'color';
@use 'mixin';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: font.$font-family;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

.card{
	position: relative;
	display: flex;
	flex-direction: row;
}

.card__header {
	margin: 50px auto;
}

.card__figure {
	margin-top: 20px;
}

.card__title {
	font-weight: font.$font-size-reguler;
	font-size: 0.875em;
}

.card__price {
	font-weight: font.$font-size-semi-bold;
	font-size: 1.125em;
}

.btn {
	@include mixin.btn-card;
	margin-top: 10px;
}

