<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

	<h1>Card Component</h1>

	<!-- Card Component -->
  <div class="card_container">
    <div class="card_component">
      <div class="img_card">
        <img src="./images/Rectangle_62.png" alt="dummy">
      </div>
      <div class="card_description">
        <p class="title">Velvet Covvered</p>
        <p class="price">Rp600.000.00</p>
      </div>
      <button type="submit" class="button_add_to_cart">Add to Cart</button>
    </div>
    <div class="card_component">
      <div class="img_card">
        <img src="./images/Rectangle_62.png" alt="dummy">
      </div>
      <div class="card_description">
        <p class="title">Velvet Covvered</p>
        <p class="price">Rp600.000.00</p>
      </div>
      <button type="submit" class="button_add_to_cart">Add to Cart</button>
    </div>
    <div class="card_component">
      <div class="img_card">
        <img src="./images/Rectangle_62.png" alt="dummy">
      </div>
      <div class="card_description">
        <p class="title">Velvet Covvered</p>
        <p class="price">Rp600.000.00</p>
      </div>
      <button type="submit" class="button_add_to_cart ">Add to Cart</button>
    </div>
  </div>
</body>

</html>