<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
</head>

<body>

	<h1>Card Component</h1>

	<!-- Card Component -->
  <article class="card">
    <div class="card__header">
      <figure class="card__figure">
        <img src="../assets/bed__cover.png" alt="dummy" class="card__image">
      </figure>
      <div class="card__body">
        <h2 class="card__title">Velvet Covvered</h2>
        <p class="card__price">Rp600.000.00</p>
      </div>
      <footer class="card__footer">
        <div class="card__actions">
          <button type="submit" class="btn">Add to Cart</button>
        </div>
      </footer>
    </div>
  </article>
</body>

</html>