@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$font-family: 'Poppins', sans-serif;
$font-size-reguler: 400;
$font-size-semi-bold: 600;
$font-size-bold: 700;
