@use 'font';
@use 'color';
@use 'mixin';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: font.$font-family;

	h1 {
		text-align: center;
		margin-top: 20px;
	}

	.card_container{
		position: relative;
		display: flex;
		flex-direction: row;

		.card_component {
			margin: 50px auto;

			.card_description {
				margin-top: 20px;

				.title {
					font-weight: font.$font-size-reguler;
					font-size: 0.875em;
				}

				.price {
					font-weight: font.$font-size-semi-bold;
					font-size: 1.125em;
				}
			}

			.button_add_to_cart {
				@include mixin.btn-cart;
				margin-top: 10px;
			}
		}
	}
}

